body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #2b2b2b;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #2b2b2b;
  filter: drop-shadow(1px 1px 20px white);
}

h1 {
  margin-bottom: 20px;
  color: white;
}

#days {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.711);
}

.log {
  color: white;
  overflow: auto;
  height: 100vh;
}

.redirect-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #2b2b2b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.redirect-button:hover {
  background-color: #383737;
}

#return-button {
  position: fixed;
  bottom: 0;
}

p {
  letter-spacing: 0.5px;
  line-height: 30px;
}
