body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #2B2B2B;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #2B2B2B;
  box-shadow: 0 0 10px hsla(0, 0%, 100%, 0.957);
}

h1 {
  margin-bottom: 20px;
  color: white;
}

#days {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.711);
}
